<%- include('../../fragments/header.ejs')%>
        <main>
            <h2>Edycja Szczegółów Zamówienia</h2>
            <form class="form">
                <label for="Klient">Klient:  <span class="symbol-required">*</span></label>
                <select  name="Klient" id="Klient" required>
                    <option>-- Wybierz Klienta --</option>
                    <option value="1" selected>Jan Kowalski</option>
                    <option value="2">Ten drugi dziad</option> 
                </select>
                <span id="error"></span>
                <label for="Produkt">Produkt:  <span class="symbol-required">*</span></label>
                <select  name="Produkt" id="Produkt" required>
                    <option>-- Wybierz Produkt --</option>
                    <option value="1" selected>Burak</option>
                    <option value="2">Marchewka</option> 
                </select>
                <span id="error"></span>
                <label for="CenaZaSztuke">Ilość:  *</label>
                <input type="number" name="CenaZaSztuke" id="CenaZaSztuke" value=450 required/>
                <span id="error"></span>
                <label for="Wycofano">Rabat:  *</label>
                <input type="checkbox" name="Wycofano" id="Wycofano" value="T" required/>
                <span id="error"></span>
                <div class="form-button">
                <input class="form-button-submit" type="submit" value="Edytuj"/>
                <a class="form-button-cancel" href="list.ejs">Anuluj</a>
                </div>
              </form>

             
            </div>
        </main>
<%- include('../../fragments/footer.ejs')%>