<%- include('../../fragments/header.ejs')%>
        <main>
            <h2>Szczegóły Zamówienia</h2>
            <from class="form">
            
            <label for="Klient">Klient: <span class="symbol-required">*</span></label>
            <input type="text" name="Klient" id="Klient" class="form-button-submit" required/>
            <span id="errorsSummary" class="errors-text">Pole jest wymagane</span>
           
            <label for="NiPKlienta">NIP: <span class="symbol-required">*</span></label>
            <input type="text" name="NiPKlienta" id="NiPKlienta" class="form-button-submit" required/>
            <span id="errorsSummary" class="errors-text">Pole jest wymagane</span>

            <label for="dataZamówienia">Data: <span class="symbol-required">*</span></label>
            <input type="date" name="dataZamówienia" id="dataZamówienia" class="form-button-submit" required/>
            <span id="errorsSummary" class="errors-text">Pole jest wymagane</span>

            <label for="Nazwa">Nazwa:  <span class="symbol-required">*</span></label>
            <input type="text" name="Nazwa" id="Nazwa"  class="form-button-submit" required/>
            <span id="errorsSummary" class="errors-text">Pole jest wymagane</span>
           
            <label for="CenaZaSztuke">Cena za sztuke:  <span class="symbol-required">*</span></label>
            <input type="number" name="CenaZaSztuke" id="CenaZaSztuke"  class="form-button-submit" required/>
            <span id="errorsSummary" class="errors-text">Pole jest wymagane</span>

            <label for="Wycofano">Wycofano:  *</label>
            <input type="checkbox" name="Wycofano" id="Wycofano" value="checkbox" required/>
            <span id="errorsSummary" class="errors-text">Pole jest wymagane</span>
        

           
              <div>
                <p id="errorsSummary" class="errors-text">Błędy w formularzu</p>
                <input type="submit" value="Dodaj" class="form-button-submit" />
                <a href="list.ejs" class="form-button-cancel">Anuluj</a>
            </div>
          </from>
        </main>
<%- include('../../fragments/footer.ejs')%>