<%- include('../../fragments/header.ejs')%>
<main>
    <h2>Szczegóły Zamówienia</h2>
    <form class="form" novalidate onsubmit="return validateForm();" action="">


        <label for="Klient">Klient:  <span class="symbol-required">*</span></label>
        <select  name="Klient" id="Klient" required>
            <option selected>-- Wybierz Klienta --</option>
            <option value="1" >Jan Kowalski</option>
            <option value="2">Ten drugi dziad</option>
        </select>
        <span id="errorKlient"></span>

        <label for="Produkt">Produkt:  <span class="symbol-required">*</span></label>
        <select  name="Produkt" id="Produkt" required>
            <option selected>-- Wybierz Produkt --</option>
            <option value="1" >Burak</option>
            <option value="2">Marchewka</option>
        </select>
        <span id="errorProdukt"></span>

        <label for="ilosc">Ilość:  *</label>
        <input type="number" name="ilosc" id="ilosc" value="" required/>
        <span id="errorIlosc"></span>

        <label for="Wycofano">Rabat:  *</label>
        <input type="checkbox" name="Wycofano" id="Wycofano" value="T" required/>
        <span id="error"></span>

        <span id="errorsSummary" class="errors-text">Pole jest wymagane</span>

        <div class="form-button">
            <input class="form-button-submit" type="submit" value="Dodaj" />
            <a class="form-button-cancel" href="\pages\SzczegolyZamowienia\list.html">Anuluj</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs')%>