<%- include('../../fragments/header.ejs')%>
        <main>
            <h2>Lista zamówień</h2>
       <p>Brak rekordów do wyświetlenia.</p>
       <p><a class="button-add" href="form.ejs">Dodaj nowe Zamówienie</a></p>
        </main>
<%- include('../../fragments/footer.ejs')%>