<%- include('../../fragments/header.ejs')%>
        <main>
            <h2>Lista Produktów</h2>
       <p>Brak rekordów do wyświetlenia.</p>
       <p><a href="form-edit.ejs" class="">Dodaj nowe Zamówienie</a></p>
        </main>
<%- include('../../fragments/footer.ejs')%>