<%- include('../../fragments/header.ejs')%>
        <main>
            <h2>Lista zamówień</h2>
       <p>Brak rekordów do wyświetlenia.</p>
       <p><a href="form-edit.ejs">Dodaj nowego Klienta</a></p>
        </main>
<%- include('../../fragments/footer.ejs')%>